{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Welcome {{ staff.admin.first_name }} {{ staff.admin.last_name }}!</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-one w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-book"></i>
                        </div>
                        <div class="db-info">
                            <h3>{{ total_subjects }}</h3>
                            <h6>Subjects Teaching</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-two w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <div class="db-info">
                            <h3>{{ total_students }}</h3>
                            <h6>Total Students</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-three w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-calendar-check"></i>
                        </div>
                        <div class="db-info">
                            <h3>{{ attendance_taken }}</h3>
                            <h6>Attendance Taken</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-four w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="db-info">
                            <h3>{{ pending_leaves }}</h3>
                            <h6>Pending Leaves</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Leave Statistics</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Total Leaves</th>
                                    <th>Approved</th>
                                    <th>Pending</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ total_leaves }}</td>
                                    <td>{{ approved_leaves }}</td>
                                    <td>{{ pending_leaves }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Quick Links</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{% url 'staff_take_attendance' %}" class="btn btn-primary btn-block mb-2">Take Attendance</a>
                            <a href="{% url 'staff_add_result' %}" class="btn btn-info btn-block mb-2">Add Result</a>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'staff_apply_leave' %}" class="btn btn-warning btn-block mb-2">Apply Leave</a>
                            <a href="{% url 'staff_feedback' %}" class="btn btn-success btn-block">Send Feedback</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}